.background {
	height: 165em;
	color: white;
	background: #47A3DA;
}

.topheader {
	font-size: 1em;
	padding-top: 2.5em;
	padding-left: 2em;
	font-weight: lighter;
}

.topborder {
	color: blue;
	font-weight: lighter;
	border: solid white .2em;
	padding-left: 2em;
	margin-left: 2em;
	margin-right: 2em;
	height: 2em;
}

.country {
	font-size: 1em;
	padding-top: 2.5em;
	padding-left: 2em;
	font-weight: lighter;
}

.greyborder {
	border: solid grey .1em;
	font-weight: lighter;
	padding-left: 2em;
	margin-left: 2em;
	margin-right: 2em;
	height: 2em;
}

.bigborder {
	font-weight: lighter;
	border: solid white .2em;
	padding-left: 2em;
	margin-left: 2em;
	margin-right: 2em;
	height: 12em;
}

.bottombar {
	background: #006996;
	height: 2.5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	color: white;
	width: 11em;
	font-weight: lighter;
	padding-left: 1em;
	padding-top: 1em;
}

@media screen and (min-width: 48em) and (max-width: 70.0625em){

.background {
	height: 165em;
	color: white;
	background: #47A3DA;
}

.topportion {
	float: left;
	width: 50%;
}

.middleportion {
	float: left;
	width: 50%;
}

.topheader {
	font-size: 1em;
	padding-top: 2.5em;
	padding-left: 2em;
	font-weight: lighter;
}

.topborder {
	color: blue;
	font-weight: lighter;
	border: solid white .2em;
	padding-left: 2em;
	margin-left: 2em;
	margin-right: 2em;
	height: 2em;
}

.country {
	font-size: 1em;
	padding-top: 2.5em;
	padding-left: 2em;
	font-weight: lighter;
}

.greyborder {
	border: solid grey .1em;
	font-weight: lighter;
	padding-left: 2em;
	margin-left: 2em;
	margin-right: 2em;
	height: 2em;
}

.bigborder {
	font-weight: lighter;
	border: solid white .2em;
	padding-left: 2em;
	margin-left: 2em;
	margin-right: 2em;
	height: 12em;
}

.bottombar {
	background: #006996;
	height: 2.5em;
	margin-left: auto;
	margin-right: auto;
	width: 11em;
	margin-top: 3em;
	color: white;
	font-weight: lighter;
	padding-left: 1em;
	padding-top: 1em;
}


}

@media screen and (min-width: 70.125em){

	.background {
		height: 165em;
		color: white;
		background: #47A3DA;
	}

	.topportion {
		float: left;
		width: 33%;
	}

	.middleportion {
		float: left;
		width: 33%;
	}

	.endportion {
		float: left;
		width: 33%;
	}

	.topheader {
		font-size: 1em;
		padding-top: 2.5em;
		padding-left: 2em;
		font-weight: lighter;
	}

	.topborder {
		color: blue;
		font-weight: lighter;
		border: solid white .2em;
		padding-left: 2em;
		margin-left: 2em;
		margin-right: 2em;
		height: 2em;
	}

	.country {
		font-size: 1em;
		padding-top: 2.5em;
		padding-left: 2em;
		font-weight: lighter;
	}

	.greyborder {
		border: solid grey .1em;
		font-weight: lighter;
		padding-left: 2em;
		margin-left: 2em;
		margin-right: 2em;
		height: 2em;
	}

	.bigborder {
		font-weight: lighter;
		border: solid white .2em;
		padding-left: 2em;
		margin-left: 2em;
		margin-right: 2em;
		height: 12em;
	}

	.bottombar {
		background: #006996;
		height: 2.5em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3em;
		color: white;
		width: 11em;
		font-weight: lighter;
		padding-left: 1em;
		padding-top: 1em;
	}

}
